//fonts
$fonts:    Helvetica, sans-serif;
$smallFont: 13px;
$bigFont: 25px;

//colors
$lightModeBackgroundColor: #ffffff;
$lightModeTextColor: #625e5e;
$darkModeBackgroundColor: #3f4047;
$darkModeTextColor: #ffffff;
$lightGrayText: #989693;

//temporary image
$imgSrc: url("../images/img.jpg");
