@import "root";

//base setup
* {
  font-family: $fonts;
  color: $lightModeTextColor;
  background-color: $lightModeBackgroundColor;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .5s;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}


//darkMode setup
%dark-mode {
  color: $darkModeTextColor;
  background-color: $darkModeBackgroundColor;
  border-color: $darkModeTextColor;
  transition: .5s;
}

.darkMode {
  @extend %dark-mode;

  * {
    @extend %dark-mode;
  }
}

.fa-toggle-off, .fa-toggle-on {
  transition: .5s;
  cursor: pointer;
}

.fa-chevron-right, .fa-chevron-left {
  color: #848484;
}

//nav
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 30px 10px 10px;
  border-bottom: darken($lightModeTextColor, 15) 2px solid;

  a, h1 {
    font-variant: all-petite-caps;
    font-weight: lighter;
    text-decoration: none;
    padding: 0 15px;
    color: darken($lightModeTextColor, 15);
  }

  .fa-bars {
    display: none;
  }
}

//header
header, article {
  width: 60%;
}

.img {
  background-image: $imgSrc;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.profile {
  display: flex;
  padding: 10px;

  > div:first-of-type {
    flex: 1;
  }

  > div:last-of-type {
    flex: 2;

    > div:nth-of-type(1) {
      display: flex;
      align-items: center;
      //overflow: auto;
      text-align: left;
      width: 100%;
      padding: 25px 0px 0px 0px;

      > * {
        margin: 10px;
      }

      h1 {
        font-weight: lighter;
        margin-left: 0;
        font-size: $bigFont;
      }
    }

    > div:nth-of-type(2) {
      * {
        margin: 10px 0px;
        font-size: $smallFont;
      }

      h3 {
        font-weight: normal;
      }

      p {
        font-weight: normal;
      }

      a {
        text-decoration: none;
        color: #587C9D;
      }
    }
  }

  .toggleDiv {
    display: flex;
    align-items: baseline;

    .fas {
      margin-right: 5px;
    }
  }

  .img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
}

.highlights {
  display: flex;
  justify-content: center;
  align-items: center;

  .fas {
    cursor: pointer;
  }

  > section {
    text-align: center;
    margin: 15px;

    h2 {
      margin-top: 10px;
      font-size: $smallFont;
    }
  }

  .img {
    width: 80px;
    height: 80px;
    margin: auto;
  }

  h2 {
    font-size: 15px;
  }
}

//article

article {
  border-top: 2px solid $lightGrayText;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


  $imageWidth: 250px ;

  .image {
    margin: 5px;
    background-color: #7A7772;
    width: $imageWidth;
    height: $imageWidth;
  }
}


//responsivity

@media screen and (max-width: 1240px) {
  header {
    width: 70%;
  }
}

@media screen and (max-width: 1145px) {
  header, article {
    width: 75%;
  }
}

@media screen and (max-width: 995px) {
  header, article {
    width: 85%;
  }
}

@media screen and (max-width: 880px) {
  header, article {
    width: 90%;
  }
}

@media screen and (max-width: 690px) {
  nav {
    div {
      display: none;
    }

    .fa-bars {
      display: block;
      cursor: pointer;
    }
  }
  .navShown {
    flex-direction: column;
    align-items: flex-end;

    .fa-bars {
      margin-top: 15px;
      margin-right: 25px;
    }

    div {
      display: flex;
    }

    h1 {
      padding-bottom: 15px;
    }
  }
  .profile {
    flex-direction: column;
  }
}