<!DOCTYPE html>
<html lang="cs-cz">

<head>
    <base href="/DatabaseLayer"/>
    <meta charset="UTF-8"/>
    <title>
        {$page_title}
    </title>
    <meta name="page_description" content="{$page_description}"/>
    <meta name="keywords" content="{$page_keywords}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../www/styles/style.css?v={time()}" type="text/css"/>
    <script src="../node_modules/axios/dist/axios.js?v={time()}" async></script>
    <script src="../../www/scripts/script.js" async></script>
    <script src="../../www/scripts/ajax.js" async></script>
    <!--- fontawesome -->
    <script src="https://kit.fontawesome.com/748c10f0ee.js" crossorigin="anonymous"></script>
    <!-- fontawesome -->
</head>
<body>
<nav>
    <h1>gareth jorden</h1>
    <div>
        <a href="home">home</a>
        <a href="photos">all photos</a>
        <a href="album">album</a>
        <a href="contact">contact</a>
    </div>
    <i class="fas fa-bars" id="navBarsButton"></i>
</nav>
<header>
    <div class="profile">
        <div>
            <div class="img"></div>
        </div>
        <div>
            <div>
                <h1>garethjorden</h1>
                <a class="fa fa-instagram"></a>
                <a class="fa fa-twitter"></a>
                <div class="toggleDiv">
                    <i class="fas fa-toggle-off" id="darkmodeToggleButton"></i>
                    <p>Dark mode</p>
                </div>
            </div>
            <div>
                <h3>Gareth Jorden</h3>
                <p>consectetur adipisicing elit.</p>
                <p>A adipisci alias debitis deleniti, deserunt dolorem,</p>
                <p>eos impedit incidunt ipsa laboriosam magnam</p>
                <p>maiores numquam officia placeat porro quidem recusandae sequi sunt.</p>
            </div>
        </div>
    </div>
    <div class="highlights">
        <i class="fas fa-chevron-left" id="highlightsLeftButton"></i>
        <section>
            <div class="img"></div>
            <h2>Submissive 49</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 50</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 51</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 52</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 53</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 54</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 55</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 56</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 57</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 57</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 57</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 57</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 57</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 57</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 57</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 57</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 57</h2>
        </section>
        <section>
            <div class="img"></div>
            <h2>Submissive 57</h2>
        </section>
        <i class="fas fa-chevron-right" id="highlightsRightButton"></i>
    </div>
</header>
<article>
    {include content}
</article>
</body>

</html>