<!DOCTYPE html>
<html lang="cs-cz">

<head>
    <base href="/DatabaseLayer"/>
    <meta charset="UTF-8"/>
    <title>
        {$page_title}
    </title>
    <meta name="page_description" content="{$page_description}"/>
    <meta name="keywords" content="{$page_keywords}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../www/styles/style.css?v={time()}" type="text/css"/>
</head>

<body>
{include content}
</body>

</html>